{% load bootstrap5 %}
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>川阪隆平</title>
    <!--   Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet %}">

</head>
<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">川阪隆平</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'polls:index'%}"><i class="bx bx-home"></i> <span>Home</span></a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="{% url 'polls:topics'%}"><i class="bx bx-file-blank"></i> <span>Topics</span></a></li>
          <li><a class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Hello, {{ user.username }}</span></a></li>
          <li><a class="getstarted scrollto" href="{% url 'users:logout' %}"><i class="bx bx-file-blank"></i> <span>Logout</span></a></li>
          {% else %}
          <li><a class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Topics</span></a></li>
          <li><a class="getstarted scrollto" href="{% url 'users:register' %}"><i class="bx bx-envelope"></i> <span>Register</span></a></li>
          <li><a class="getstarted scrollto" href="{% url 'users:login' %}"><i class="bx bx-envelope"></i> <span>Log in</span></a></li>
          {% endif %}
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

<!--  &lt;!&ndash;   Google Fonts &ndash;&gt;-->
<!--  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">-->

<!--  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">-->
<!--  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
<!--  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">-->
<!--  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">-->
<!--  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">-->
<!--  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">-->
<!--  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">-->
<!--  &lt;!&ndash; Template Main CSS File &ndash;&gt;-->
<!--  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet %}">-->

<!--  &lt;!&ndash; ======= Header ======= &ndash;&gt;-->
<!--  <header id="header" class="fixed-top d-flex align-items-center">-->
<!--    <div class="container d-flex align-items-center justify-content-between">-->
<!--      <div class="logo">-->
<!--        <h1><a href="{% url 'polls:index'%}">Cloud Ana</a></h1>-->
<!--      </div>-->
<!--      <nav id="navbar" class="navbar">-->
<!--        <ul>-->
<!--          <li><a class="nav-link scrollto active" href="{% url 'polls:index'%}">Home</a></li>-->
<!--          {% if user.is_authenticated %}-->
<!--          <li><a class="nav-link scrollto" href="{% url 'polls:topics'%}">Topics</a></li>-->
<!--          <li><a class="nav-link scrollto">Hello, {{ user.username }}</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#contact"></a></li>-->
<!--          <li><a class="getstarted scrollto" href="{% url 'users:logout' %}">Logout</a></li>-->
<!--          {% else %}-->
<!--          <li><a class="nav-link scrollto">Topics</a></li>-->
<!--          <li><a class="getstarted scrollto" href="{% url 'users:register' %}">Register</a></li>-->
<!--          <li><a class="getstarted scrollto" href="{% url 'users:login' %}">Log in</a></li>-->
<!--          {% endif %}-->
<!--        </ul>-->
<!--        <i class="bi bi-list mobile-nav-toggle"></i>-->
<!--      </nav>&lt;!&ndash; .navbar &ndash;&gt;-->
<!--    </div>-->
<!--  </header>&lt;!&ndash; End Header &ndash;&gt;-->
<!--      {% block page_header %}{% endblock page_header %}-->

  <main id="main">
    {% block content %}{% endblock content %}
<!--  <main role="main" class="container">-->
<!--    <div class="pb-2 mb-2 border-bottom">-->
<!--    </div>-->
<!--    <div>-->
<!--    </div>-->
  </main>

 </body>

</html>
